@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html.gradient-bg,
body {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #4D78A1 0%, #10245F 100%) !important;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

